* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

#canvas1 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.control {
    padding: 0px 10px;
    margin-bottom: 10px;
}

#control-panel {
    position: absolute;
    padding: 0px 10px;
    height: fit-content;
    width: fit-content;
    border: 4px solid cyan;
    border-radius: 10px;
    margin: 10px;
    left: 10px;
    bottom: 10px;
    color: white;
    z-index: 1;
}

#hide {
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0;
}

input.number{
    width: 5em;
}

h2 {
    white-space: pre;
    text-align: center;
    margin: 0;
    padding: 0;
}