* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

#canvas1 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.control {
    margin: 10px;
}

.control-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    z-index: 1;
}

input.number{
    width: 5em;
}