/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "MONO" 0.4;
}

body {
    background-color: black;
}

/* Canvas 1 */
#canvas1 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: none;
}

/* Control panel containers */
.control-container {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#c1 {left: 0;}
#c2 {right: 0;}

/* Control panels */
.control-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 16em;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    border: 0.15em solid rgba(0, 255, 255, 0.7);
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(15px);
    z-index: 1;
}

#hide { /* hide is #c1 .control-panel */
    border-right: none;
}

#hide h3 {
    font-weight: 600;
    margin-top: 0.90em;
}

#hide2 { /* hide2 is #c2 .control-panel*/
    border-left: none;
}

.control-panel h3,
#Properties h1 {
    margin: 0.5em 0.4em;
    font-weight: 600;
    color: #00ffff;
    text-shadow: 0 1px 2px #00ffff;
    text-transform: uppercase;
}

#Properties h1 {
    text-align: center;
    font-size: 1.7em;
    margin-top: 0.5em;
    margin-bottom: 0.74em;
}

/* Collapse buttons */
.collapse-btn {
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    transform: translateY(-50%);
    z-index: -1;
}

#col {left: 100%;}
#col2 {right: 100%}

/* Control elements */
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    padding: 0.6em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.control:last-of-type {
    border-bottom: none;
}

.control label {
    font-size: 0.85em;
    color: #c6c6c6;
}

.control input[type="number"],
.control input[type="text"],
.control input[type="color"] {
    width: 6em;
    padding: 0.2em;
    color: #eeeeee;
    background: transparent;
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 0.2em;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.control input[type="color"] {
    height: 32px;
}

.control input[type="number"]:hover,
.control input[type="color"]:hover {
    outline: groove 1px #00ffff;
}

.control input[type="number"]:focus,
.control input[type="color"]:focus {
    outline: groove 1px #00ffff;
}

.control input:disabled {
    appearance: textfield;
    background-color: transparent;
    color: #cecece;
    border: 1px solid rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
    text-shadow: none;
}

.control input[type="number"]:disabled::-webkit-inner-spin-button,
.control input[type="number"]:disabled::-webkit-outer-spin-button {
    opacity: 0.1;
}

.control input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgba(0, 255, 255, 0.5);
    border-radius: 0.2em;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.control input[type="checkbox"]:checked {
    background-color: #00ffff;
    border-color: #00ffff;
}

/* Canvas 2 */
#canvas2 {
    width: 200px;
    height: 200px;
    margin-left: 10%;
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.5);
    border: solid rgb(0, 242, 255) 0.2em;
    border-radius: 10%;
}

/* Button */
#edit {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    width: 60%;
    padding: 0.7em;
    margin-top: 1.5em;
    margin-left: 20%;
    background: #00ffff;
    color: #000000;
    cursor: pointer;
    border: #00ffff groove 1px;
    border-radius: 0.4em;
    transition: all 0.2s ease-in-out;
}

#edit:hover {
    outline: #00ffff groove 1px;
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 0.75em;
    width: 15em;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    color: #ffffff;
    background-color: #000000;
    border: 0.1em solid cyan;
    z-index: 3;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip .tooltiptext.right {
    top: 50%;
    transform: translateY(-50%);
    left: 110%;
}

.tooltip .tooltiptext.right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #00ffff transparent transparent;
}

.tooltip .tooltiptext.left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip .tooltiptext .mini {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

.tooltip:hover .tooltiptext {
    display: block;
}